{% extends "layout.html" %}

<!-- {% block heading %}
first LoginPage
{% endblock %} -->

{% block content %}
<div>
    <nav class="navbar navbar-dark bg-dark">
        <h5 class="text-white h4">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/">Logout</a>
        </h5>
        
    </nav>

</div>


<h4>Admin PAGE</h4>
<div style="text-align: center;margin-left: 15%;margin-right: 15%;">
    <h3>Admin details</h3><br>
    <br>
    <table class="table" style="background-color: honeydew; color:crimson;">
        <thead class="thead-light">
          <tr>
            <th scope="col">username</th>
            <th scope="col">password</th>
            <th scope="col">timestamp</th>
            
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><b>{{user.username}}</b></td>
            <td><b>{{user.password}}</b></td>
            <td><b>{{user.timestamp}}</b></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>


{% endblock %}

