{% extends "layout.html" %}

<!-- {% block heading %}
first LoginPage
{% endblock %} -->

{% block content %}
<div>
    <nav class="navbar navbar-dark bg-dark">
        <h5 class="text-white h4">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/">Logout</a>
        </h5>
        
    </nav>

</div>


<h4>Review and Rating PAGE</h4>
<div style="text-align: center;margin-left: 15%;margin-right: 15%; border: 1px solid; background-image: url('https://t4.ftcdn.net/jpg/02/96/17/83/360_F_296178398_I4IH4kE0fDT2lmhKJ4Ncq8iNuXXZAQFI.jpg');">

  <div class="container-fluid" >

  
    <hr>
  
    <!--Keyword clouds go here -->
  
    <div class="row">
  
      <!--Search within review here -->
      <div class="col-sm-5">
        <table class="table" style="background-color: lightblue;color:navy;">
          <thead class="thead-dark" style="margin: auto;">
            <th><h4> Title:</h4></th>
            <th><h4>Author:</h4></th>
            <th><h4>ISBN: </h4></th>
            <th><h4>Year:</h4></th>
              
            <tr>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h4> {{book.title}}</h4></td>
            <td><h4> {{book.author}}</h4></td>
            <td><h4> {{book.isbn}}</h4></td>
            <td><h4> {{book.year}}</h4></td>
            
                  
          </tr>
            
          </tbody>
        </table>
       </div>
      
       <div class="col-sm-3">
      <br>
      <form action="{{url_for('bookshelf')}}">
        <button type="submit" class="btn btn-success">MySelf</button>
      </form>
      
    </div>
    <div class="col-sm-4">
      <br>
      <form method="post">
        <button   name="rsubmit" class="btn btn-dark" formaction="{{url_for('rr',isbn=book.isbn)}}">Add to Shelf</button>
      </form>
      
    </div>
    </div>
  </div> 
<hr>
<div >
<form action="{{url_for('rr',isbn=book.isbn)}}", method="POST">
  <input type="text"   name="reviewdata" placeholder="Enter your review">
  <input type="number"  name="ratingdata" placeholder="rating">
  <input type="submit"  class="btn btn-success" value="Submit" name="reviewsubmit">
</form>
</div>



<table class="table" style="background-image: url('https://image.freepik.com/free-vector/watercolor-background-style_23-2148481364.jpg');color: brown;">
  <thead class="thead-dark" style="margin: auto;">
      
      <th ><h5 >isbn</h5></th>
      <th ><h5 >name</h5></th>
      <th ><h5 >review</h5></th>
      <th ><h5 >rating</h5></th>
    <tr>
      <br>
      <br>
    </tr>
  </thead>
  <tbody>
    {% for r in reviews %}
    <tr>
          <td><h4>{{r.isbn}}</h4></td>
          <td><h4>{{r.name}}</h4></td>
          <td><h4>{{r.review}}</h4></td>
          <td><h4>{{r.rating}}</h4></td>
    {% endfor %}
      


  </tr>
    
  </tbody>
</table>



{% endblock %}

